.evo__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 6rem;
}

.evo__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.evo__navbar-links_logo {
  padding-top: 12px;
  margin-right: 35%;
  display: flex;
  align-items: center;
}

.logo-image-main {
  filter: invert(42%) hue-rotate(180deg) brightness(1.5);
  background-color: transparent;
  height: 45px;
  width: 55px;
}

.evo__navbar-links_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.evo__navbar-links_container p,
.evo__navbar-sign p,
.evo__navbar-menu_container p {
  color: white;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 0 1rem;
  cursor: pointer;
  transition: color 0.5s ease;
}

.evo__navbar-links_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #9a3bcf;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.evo__navbar-links_container button:hover {
  background-color: #33b249;
}

.evo__navbar-links_container p:hover {
  color: hsla(0, 0%, 100%, 0.737);
}

.evo__navbar-links_container svg {
  cursor: pointer;
  height: 25px;
  fill: white;
  margin-left: 1.2rem;
}
