/* Vendor contact form container */
.vendor-contact-form {
    animation: fadeIn 1s ease-in-out;
    background-color: #001f3f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 100vw; /* Prevent horizontal overflow */
    overflow-x: hidden; /* Hide any overflow */
    height: 100vh;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Form container */
  .vendor-contact-form-container {
    background-color: rgba(40, 66, 98, 0.9);
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    max-height: 500px;
   
  }
  
  /* Form group */
  .vendor-contact-form-group {
    margin-bottom: 15px;
    width: 100%;
    margin-left: -20px;
  }
  
  /* Form control */
  .vendor-contact-form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  .vendor-contact-form-control:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Buttons */
  .vendor-contact-btn {
    background-color: #6f42c1; /* Purple */
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    max-width:528px;
    width: 100%;

    
  }

  .vendor-contact-btn:hover {
    background-color: #5a3b8c; /* Darker Purple on Hover */
    transform: scale(1.05); /* Scale up slightly on hover */
  }
  
  .vendor-contact-btn-primary {
    background-color: #6f42c1; /* Purple */
  }
  
  .vendor-contact-btn-primary:hover {
    background-color: #5a3b8c; /* Darker Purple on Hover */
  }
  .success-message{
    color:rgb(210, 214, 210)
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .vendor-contact-form-container {
      max-width: 90%;
    }
  }
  