.dash-container {
  height: 85vh;
  padding: 20px;
}

.dash-main-container {
  height: 100%;
  border-radius: 20px;
  background: rgba(227, 219, 219, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(227, 219, 219, 0.15);
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar-container {
  color: white;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px 0 0 20px;
}

.sidebar-container h2 {
  color: hsla(0, 0%, 100%, 0.763);
  margin-bottom: 16px;
}

.sidebar-container p {
  color: white;
  margin-bottom: 5px;
  margin-left: 9px;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;

  background: rgba(19, 17, 17, 0.16);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  transition: background-color 0.2s ease;
}

.sidebar-container p:hover {
  background: rgba(108, 97, 97, 0.16);
}

.mainboard-container {
  border-radius: 20px;
  display: grid;
  grid-template-rows: 30% 70%;
  box-shadow: 0 0 10px black;
}

/*.analytics-container {
  border-radius: 20px 20px 0 0;
  background: rgba(7, 6, 6, 0.35);
  box-shadow: 0 0px 4px black;
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
}*/

.analytics-container {
  height: 100%;
  border-radius: 20px 20px 0 0;
  background: rgba(7, 6, 6, 0.35);
  box-shadow: 0 0px 4px black;
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.chart-wrapper {
  height: 100%;
  width: 48%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  overflow: hidden;
}

.main-content-container {
  border-radius: 0 0 20px 20px;
  background: rgba(7, 6, 6, 0.45);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  color: white;
  padding-left: 40px;
  padding-top: 20px;
}

.main-content-container h2 {
  color: rgba(255, 255, 255, 0.678);
}

.heading-container button {
  font-family: var(--font-family-2);
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  background-color: hsl(271, 95%, 60%);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.heading-container button:hover {
  background-color: hsl(271, 100%, 55%);
}

.heading-container {
  display: grid;
  grid-template-columns: 70% 30%;
}

.btn-box {
  display: flex;
  gap: 20px;
}

.cards-container {
  height: 100%;
  margin-top: 20px;
}
