* {
    overflow: hidden;
}

.evo__sign-container {
    height: 86vh;
}

.evo__sign-content {
    margin-top: 20px;
    height: 90%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 20px;
}

.evo__sign-image {
    display: flex;
    position: relative;
    border-radius: 20px 0 0 20px;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.evo__sign-form{
    position: relative;
    right: 12px;
    border-radius: 20px;
}

.evo__sign-image img{
    height: 100%;
}

.evo__sign-form {
    background-color: white;
    box-shadow: 2px 2px 10px black;
}

.welcome {
    z-index: 1;
    height: 100%;
    width: 97%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blur-container {
    position: absolute;
    height: 150px;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 20px rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );

}

.welcome h4 {
    line-height: 35px;
    font-size: 40px;
}


.welcome h4:nth-child(1){
    font-family: var(--font-family);
    color: white;
    font-weight: 400; 
}

.welcome h4:nth-child(2) {
    font-family: var(--font-family);
    color: white;
    font-weight: 700;
}

.text-content {
    font-family: var(--font-family-2);
    margin: 60px;
}

.text-content h1 {
    font-weight: 600;
}

.text-content p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    color: hsla(0, 0%, 0%, 0.758);
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 2px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 20px 0
 }
 form .button input{
   font-family: var(--font-family-2);
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   background-color: #9b3bcfd4;
   transition: background-color 0.2s ease;
 }

 form .button input:hover {
    background-color: #9A3BCF;
 }

.evo_terms {
    display: flex;
}

.conditions {
    margin-left: 8px;
    font-size: 12px;
}

.conditions span {
  font-weight: 800;
}


