.login-container {
  font-family: var(--font-family-2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  padding: 20px;
}

.vendorslogin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.log-head-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
}

.log-head-container h1 {
  font-size: 2rem;
  color: white;
}

.vendorslogin-header {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.vendorslogin-form {
  border: solid 2px rgba(0, 0, 0, 0.208);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.208);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.vendorslogin-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.621);
  border-radius: 8px;
  background-color: rgb(30, 26, 26);
  font-size: 1rem;
  color: white;
}

.vendorslogin-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.vendorslogin-button {
  margin-top: 15px;
  padding: 12px;
  background-color: #9a3bcf;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background 0.3s ease;
}

.vendorslogin-button:hover {
  background-color: #7d2bbd;
}

.vendorslogin-message {
  margin-top: 15px;
  font-size: 1rem;
  color: #d9534f;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .vendorslogin-container {
    width: 90%;
    padding: 30px;
  }

  .vendorslogin-header {
    font-size: 1.5rem;
  }

  .vendorslogin-form {
    width: 100%;
    max-width: 320px;
  }

  .vendorslogin-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .log-head-container h1,
  .vendorslogin-header {
    font-size: 1.4rem;
  }

  .vendorslogin-container {
    padding: 20px;
  }

  .vendorslogin-input {
    padding: 10px;
    font-size: 0.9rem;
  }

  .vendorslogin-button {
    font-size: 0.85rem;
    padding: 10px;
  }
}
.signup-link{
  color:#fff;
  margin-top: 15px;
}