.login-container {
  font-family: var(--font-family-2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.vendorslogin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 80%;
  width: 40%;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.log-head-container {
  padding-left: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.log-head-container h1 {
  font-size: 2rem;
  color: white;
}

.vendorslogin-header {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}

.vendorslogin-form {
  border: solid 2px rgba(0, 0, 0, 0.208);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.208);
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.vendorslogin-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.621);
  border-radius: 5px;
  background-color: rgb(30, 26, 26);
  font-size: 1rem;
  color: white;
}

.vendorslogin-input::placeholder {
  color: white;
}

.vendorslogin-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #9a3bcf;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.vendorslogin-button:hover {
  background-color: #0056b3;
}

.vendorslogin-message {
  margin-top: 20px;
  font-size: 1rem;
  color: #d9534f;
}
